---
import StandardLayout from '../layouts/StandardLayout.astro';
---
<StandardLayout>
    <div class="interactive">
        <h1>Amogus frmaeowkr</h1>

        <p>When the impostor is sus!</p>
    </div>
</StandardLayout>