---
import StandardLayout from '../layouts/StandardLayout.astro';

---
<StandardLayout
    title=About
>
    <h1>About</h1>
    <hr>
    <p>Alright gamers, so you know what's better than a normal boring, non flashmodded iPod? A flashmodded iPod. So yeah, flashmodding!</p>
</StandardLayout>