---
import StandardLayout from '../layouts/StandardLayout.astro';
---
<StandardLayout
    transparent=true
>
    <h1>Amogus frmaeowkr</h1>
    <hr>
    <p>When the impostor is sus!</p>
</StandardLayout>