---
import StandardLayout from '$/layouts/StandardLayout.astro';
---
<StandardLayout>
    <div class="interactive">
        <h1>Frmaeowkr d'Amogus</h1>

        <p>Quando l'impostore è sospetto!</p>
    </div>
</StandardLayout>