---
import SocialEmbed from '../components/SocialEmbed.astro';
import Header from '../components/Header.astro';
import { SITE_NAME } from '../constants.js';

const currentPage = Astro.request.url.pathname;

const { transparent=true, title=currentPage } = Astro.props;
const titleGenerated = (currentPage === '/') ? SITE_NAME : `${SITE_NAME} | ${title}`;
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <SocialEmbed
            title={ titleGenerated }
            description="woah very descriptin omg!!!"
            image="assets/logo.svg"
            color="#ff00ff"
        />

        <link rel="stylesheet" href="/style/home.css">
    </head>
    <body>
        <Header
            page={currentPage}
            transparent={transparent}
        />

        <div class="content">
            <slot />
        </div>
    </body>
</html>